:root {
	--facebook-color: #3b5999;
	--instagram-color: #e1306c;
	--youtube-color: #de463b;
	--twitter-color: #46c1f6;
	--github-color: #333;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;

}
.social-item{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 0 0 10px #3333;
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.facebook:hover{
    color: var(--facebook-color);
    background-color: var(--facebook-color);
}
.github:hover{
    color: var(--github-color);
    background-color: var(--github-color);
   
}
.twitter:hover{
    color: var(--twitter-color);
    background-color: var(--twitter-color);
}
.instagram:hover{
    color: var(--instagram-color);
    background-color: var(--instagram-color);
}
.youtube:hover{
    color: var(--youtube-color);
    background-color: var(--youtube-color);
}
.social-item:hover i{
    color: #fff;
    transition: 0.2s;
}
.social-item i{
    font-size: 2rem;
    color: #333;
}
.social-item .tooltip{
    padding: 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: inherit;
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease;
    
}
.social-item:hover .tooltip{
   opacity: 1;
   transform: translateY(calc(-80px + -50%));
    
}
.tooltip p{
    font-size: 1.5rem;
    font-weight: 600;
    color:#fff;
}
.tooltip::after{
    content: "";
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}